*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    background-color: #f51d1df8;
    color: white;
}


ul{

    text-align: center;
}
ul li{

    display: inline-block;
}
.searchIcon{
    cursor: pointer;
}
ul li a {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px 10px;
    display: inline-block;
    text-decoration: none;
    
}


.search {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(117, 126, 123, 0.226);
    

}

.search input{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 600px;
    height: 40px;
    border: none;
    outline: 0;
    border-radius: 6px;
    padding: 10px;

}
    
.search .cancelIcon{
    position: absolute;
    right: 50px;
    top: 50px;
    padding: 15px;
    display: inline-block;
    background-color: red;
    cursor: pointer;
    color: white;
}